@{
    ViewData["Title"] = "Internal Server Error";
}
<div class="text-center" style="justify-content:center">
    <h1>500 - Internal Server Error</h1>
    <p>Oops! Something went wrong on our end. Please try again later.</p>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Return to the homepage</a>
</div>