<aside class="sidebar" style="width: auto; flex-grow">
    <h4 class="sidebar-title">Navigation</h4>
    <nav class="flex-grow-1; nav-tabs" style="font-weight: bold;">
        <a class="nav-link" asp-controller="Vehicle" asp-action="Index">Vehicles</a>
        <a class="nav-link" asp-controller="Driver" asp-action="Index">Drivers</a>
        <a class="nav-link" asp-controller="Location" asp-action="Index">Locations</a>
        <a class="nav-link" asp-controller="Client" asp-action="Index">Clients</a>
        <a class="nav-link" asp-controller="Trip" asp-action="Index">Trips</a>
    </nav>
</aside>
