
<div class="text-center">
    <h1>Admin Panel</h1>
</div>
<br />
<div class="row" style="justify-content:center">
    <div class="col-md-4">
        <div class="card shadow">
            <div class="card-body d-flex flex-column align-items-center text-center">
                <h5 class="card-title">You can manage roles to <br/>promote or demote users</h5>
                <br />
                <a asp-area="Admin" asp-controller="UserManagement" asp-action="Index" class="btn btn-primary">
                    Manage Users
                </a>
            </div>
        </div>
    </div>
</div>

